button:hover {
  background-color: rgb(96, 214, 155);
  cursor: pointer;
}
li:nth-child(odd) {
  background-color: brown;
}
li:nth-child(even) {
  background-color: rgb(187, 194, 40);
}
li:not(:nth-child(1)) {
color: rgb(237, 237, 232);
}